@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../Network.webm');
  background-attachment: fixed;
}

.foto {
  width: 100%;
  height: 100%;
}

.social-media a{
  text-decoration: none;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  border-radius: 5px;
}

.input-group input {
  width: 25%;
}


/* #main-header .port-item .fas {
  display: ;
} */

.bg-black {
  background: black;
  color: white;
}

@media (min-width: 1199px) {
  #home-btn, #edu-btn, #work-btn, #contact-btn {
    padding: 3em !important;
  }
}

p.about-text {
  font-size: 22px;
}

@media (max-width: 499px) {
  p.about-text {
    font-size: 16px;
  }
}

.pointOn {
  cursor: pointer;
}

#home-btn, #edu-btn, #work-btn, #contact-btn {
  border: none;
  background: none;
  color: white;
}

.label-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.label-card img.icon-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.label-card a.link-value {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.label-card a.link-value:hover {
  text-decoration: none;
  cursor: pointer;
}